<h1><%= title %></h1>

<!-- <% if (notice && notice.length > 0) { %>
<div class="notice">
  <ul>
    <% notice.forEach(msg => { %>
    <li><%= msg %></li>
    <% }) %>
  </ul>
</div>
<% } %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %> -->

<% if (notice && notice.length > 0) { %>
<div class="notice">
  <ul>
    <% notice.forEach(msg => { %>
    <li><%= msg %></li>
    <% }) %>
  </ul>
</div>
<% } else { %>
<p>No hay mensajes flash.</p>
<% } %>

<p><%= message %></p>

<div class="account-menu"><%- accountMenu %></div>
